<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="copy_delay" value="4" />
		<add key="patterns_path" value="C:\Users\MALSA\OneDrive - Craft Group\projects" />
		<add key="submissions_path" value="C:\Users\MALSA\OneDrive - Craft Group\Documents\SVG\SVG" />
	</appSettings>
</configuration>